* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: colour(darker_blue);
}

#app {
  display: grid;
  // width: 100%;
  // height: 100%;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'command diagram data'
    'command diagram data'
    'command status  data'
    'command status  data';

  #command {
    grid-area: command;
  }

  #data {
    grid-area: data;
  }

  #diagram {
    grid-area: diagram;
  }

  #status {
    grid-area: status;
  }
}

#command,
#data,
#diagram,
#status {
  border: 1px solid colour(gray);
}

#command {
  display: grid;

  grid-template-rows: $title 75px auto;
  grid-template-areas:
    'command-title'
    'command-nav'
    'command-buttons';

  h2 {
    grid-area: command-title;
  }

  #command-nav {
    grid-area: command-nav;
  }

  .command-grid {
    grid-area: command-buttons;

    height: 100%;
    width: 100%;
    padding: 20px 0px 20px 0px;

    display: grid;
  }

  #command-grid-auto {
    grid-template-areas:
      'button-sample'
      'button-purge'
      'button-stop';
  }

  #command-grid-manual {
    grid-template-areas:
      'button-pump    button-valve-1'
      'button-valve-2 button-valve-3'
      'button-valve-4 button-valve-5'
      'button-valve-6 button-valve-7'
      'button-stop    button-stop';
  }
}

#diagram {
  display: grid;
  grid-template-rows: $title auto;
  grid-template-areas:
    'title'
    'diagram';

  &__title {
    grid-area: title;
  }

  &__picture {
    grid-area: diagram;
  }
}

#status {
  display: grid;
  grid-template-rows: $title auto;
  grid-template-areas:
    'title'
    'table';

  h2 {
    grid-area: title;
  }

  table {
    grid-area: table;
  }
}

#data {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'data-capacities'
    'data-info';

  #data-capacities {
    grid-area: data-capacities;

    display: grid;
    grid-template-rows: $title auto;
    grid-template-areas:
      'title'
      'content';

    &__title {
      grid-area: title;
    }

    &__content {
      grid-area: content;

      display: grid;
    }
  }

  #data-info {
    grid-area: data-info;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'depth'
      'temperature'
      'flow';

    &__depth {
      grid-area: depth;
    }

    &__temperature {
      grid-area: temperature;
    }

    &__flow {
      grid-area: flow;
    }

    .data-info__container {
      padding: 1rem 0px 1rem 0px;
      // border-bottom: 1px solid colour(gray);

      display: grid;
      grid-template-rows: $title auto;
      grid-template-areas:
        'title'
        'content';

      h2 {
        grid-area: title;
      }

      p {
        grid-area: content;
      }
    }
  }
}

.sample-form {
  display: grid;
  grid-template-areas: 'jar1 jar2 jar3 jar4 jar5 jar6';
}
