.container {
  padding: 1rem;
}

.nav {
  margin-top: 20px;

  height: 50px;
  border: 2px solid colour(blue);
  &__list {
    display: flex;

    height: 100%;

    list-style: none;
  }

  &__item {
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;

    cursor: pointer;
  }

  &__item-active {
    background-color: colour(dark_blue);
  }
}

.button {
  height: 50px;
  width: 150px;

  border-radius: 10px 30px 0px 10px;

  display: grid;
  place-items: center;
  cursor: pointer;
}

.button.large {
  height: 75px;
  width: 200px;
}

.button.blue {
  background-color: colour(dark_blue);
  border: 2px solid colour(blue);
}

.button.red {
  background-color: colour(dark_red);
  border: 2px solid colour(red);
}

.progress-bar {
  display: grid;
  grid-template-columns: 50px auto 75px;
  grid-template-areas: 'name rect text';

  &__name {
    grid-area: name;
    align-self: center;
    justify-self: center;
  }

  &__rect {
    grid-area: rect;
    align-self: center;
    justify-self: center;

    position: relative;
    border: 2px solid colour(blue);

    height: 35px;
  }

  &__rect-max {
    position: absolute;
    height: 100%;

    background-color: colour(darker_blue);
  }

  &__rect-current {
    position: absolute;
    // top: 0px;
    // bottom: 0px;
    // position: absolute;
    height: 100%;

    background-color: colour(dark_blue);
  }

  &__text {
    grid-area: text;
    align-self: center;
    justify-self: center;
  }
}

.modal {
  &__popup {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    display: grid;
  }
  &__body {
    width: 600px;
    height: 200px;
    place-self: center;
    // margin: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      'title title title title'
      'content content content content'
      '. . cancel ok';

    background-color: colour(grey);

    &__title {
      grid-area: title;
      place-self: center;
    }

    &__content {
      grid-area: content;
      justify-self: center;
      width: 100%;
      // place-self: center;
    }

    &__cancel {
      grid-area: cancel;
      place-self: center;

      background-color: colour(dark_red);
      border: 2px solid colour(red);
    }

    &__ok {
      grid-area: ok;
      place-self: center;

      background-color: colour(dark_blue);
      border: 2px solid colour(blue);
    }

    button {
      width: 80px;
      padding: 0.5rem 1rem;

      border-radius: 10px;

      cursor: pointer;
    }
  }

  &__main {
  }
}
