.container {
  padding: 1rem;
}

.nav {
  margin-top: 20px;

  height: 50px;
  border: 2px solid colour(blue);
  &__list {
    display: flex;

    height: 100%;

    list-style: none;
  }

  &__item {
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;

    cursor: pointer;
  }

  &__item-active {
    background-color: colour(dark_blue);
  }
}

.button {
  height: 50px;
  width: 150px;

  border-radius: 10px 30px 0px 10px;

  display: grid;
  place-items: center;
}

.button.large {
  height: 75px;
  width: 200px;
}

.button.blue {
  background-color: colour(dark_blue);
  border: 2px solid colour(blue);
}

.button.red {
  background-color: colour(dark_red);
  border: 2px solid colour(red);
}

.progress-bar {
  display: grid;
  grid-template-columns: 50px auto 75px;
  grid-template-areas: 'name rect text';

  &__name {
    grid-area: name;
    align-self: center;
    justify-self: center;
  }

  &__rect {
    grid-area: rect;
    align-self: center;
    justify-self: center;

    position: relative;
    border: 2px solid colour(blue);

    height: 35px;
  }

  &__rect-max {
    position: absolute;
    height: 100%;

    background-color: colour(darker_blue);
  }

  &__rect-current {
    position: absolute;
    // top: 0px;
    // bottom: 0px;
    // position: absolute;
    height: 100%;

    background-color: colour(dark_blue);
  }

  &__text {
    grid-area: text;
    align-self: center;
    justify-self: center;
  }
}
