@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1,
p,
th,
td {
  color: colour(white);
}

h2 {
  color: colour(blue);
}

.nav {
  color: colour(white);
}

.button {
  font-size: 1rem;
  color: colour(white);
}

.button.large {
  font-size: 1.25rem;
  color: colour(white);
}

.data-info__container {
  p {
    font-size: 2rem;
  }
}
