@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1,
p,
th,
td {
  color: colour(white);
}

h2 {
  color: colour(blue);
}

.nav {
  color: colour(white);
}

.button {
  font-size: 0.9rem;
  color: colour(white);
}

.button.large {
  font-size: 1.25rem;
  color: colour(white);
}

.modal {
  h3 {
    color: colour(white);
    font-size: 1.5rem;
  }

  button {
    color: colour(white);
  }
}

.data-info__container {
  p {
    font-size: 2rem;
  }
}

.checkbox__label {
  color: colour(white);
}
