@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

h1,
p {
  color: #ffffff;
}

h2 {
  color: #4aa7cc;
}

.nav {
  color: #ffffff;
}

.button {
  font-size: 1rem;
  color: #ffffff;
}

.button.large {
  font-size: 1.25rem;
  color: #ffffff;
}

.data-info__container p {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #040a14;
}

#app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'command diagram data' 'command diagram data' 'command status  data' 'command status  data';
}

#app #command {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: command;
}

#app #data {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: data;
}

#app #diagram {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: diagram;
}

#app #status {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: status;
}

#command,
#data,
#diagram,
#status {
  border: 1px solid #2a2a2a;
}

#command {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 75px auto;
      grid-template-rows: 50px 75px auto;
      grid-template-areas: 'command-title' 'command-nav' 'command-buttons';
}

#command h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: command-title;
}

#command #command-nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: command-nav;
}

#command .command-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: command-buttons;
  height: 100%;
  width: 100%;
  padding: 20px 0px 20px 0px;
  display: -ms-grid;
  display: grid;
}

#command #command-grid-auto {
      grid-template-areas: 'button-sample' 'button-purge' 'button-stop';
}

#command #command-grid-manual {
      grid-template-areas: 'button-pump    button-valve-1' 'button-valve-2 button-valve-3' 'button-valve-4 button-valve-5' 'button-valve-6 button-valve-7' 'button-stop    button-stop';
}

#data {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'data-capacities' 'data-info';
}

#data #data-capacities {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: data-capacities;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
      grid-template-areas: 'title' 'content';
}

#data #data-capacities__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

#data #data-capacities__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
}

#data #data-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: data-info;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 'depth' 'temperature' 'flow';
}

#data #data-info__depth {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: depth;
}

#data #data-info__temperature {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: temperature;
}

#data #data-info__flow {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: flow;
}

#data #data-info .data-info__container {
  padding: 1rem 0px 1rem 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
      grid-template-areas: 'title' 'content';
}

#data #data-info .data-info__container h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

#data #data-info .data-info__container p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.container {
  padding: 1rem;
}

.nav {
  margin-top: 20px;
  height: 50px;
  border: 2px solid #4aa7cc;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  list-style: none;
}

.nav__item {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.nav__item-active {
  background-color: #245772;
}

.button {
  height: 50px;
  width: 150px;
  border-radius: 10px 30px 0px 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.button.large {
  height: 75px;
  width: 200px;
}

.button.blue {
  background-color: #245772;
  border: 2px solid #4aa7cc;
}

.button.red {
  background-color: #722424;
  border: 2px solid #ff0000;
}

.progress-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto 75px;
      grid-template-columns: 50px auto 75px;
      grid-template-areas: 'name rect text';
}

.progress-bar__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.progress-bar__rect {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rect;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  border: 2px solid #4aa7cc;
  height: 35px;
}

.progress-bar__rect-max {
  position: absolute;
  height: 100%;
  background-color: #040a14;
}

.progress-bar__rect-current {
  position: absolute;
  height: 100%;
  background-color: #245772;
}

.progress-bar__text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: text;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=main.css.map */